<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Xpense Share Hack</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css" rel="stylesheet">
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">

<!-- Optional theme -->
</head>
<body>
  <div class="body" id="body"></div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/aws-sdk/2.2.37/aws-sdk.min.js" type="text/javascript"></script>
</body>
</html>
