@mixin dimensions($width, $height) {
  width: $width;
  height: $height;
}

@mixin background-props($background-url, $background-repeat: '', $background-size: '', $background-position: '') {
  background: $background-url #{$background-repeat};
  @if $background-size != '' { background-size: $background-size; }
  @if $background-position != '' { background-position: $background-position; }
}

@mixin flexbox($justify-content: '', $flex-wrap: '', $flex-direction: '') {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;

  @if $justify-content != '' {
    -webkit-justify-content: $justify-content;
    -moz-justify-content: $justify-content;
    -ms-justify-content: $justify-content;
    justify-content: $justify-content;
  }
  @if $flex-wrap != '' {
    -webkit-flex-wrap: $flex-wrap;
    -moz-flex-wrap: $flex-wrap;
    -ms-flex-wrap: $flex-wrap;
    flex-wrap: $flex-wrap;
  }

  @if $flex-direction != '' {
    -webkit-flex-direction: $flex-direction;
    -moz-flex-direction: $flex-direction;
    -ms-flex-direction: $flex-direction;
    flex-direction: $flex-direction;
  }
}
