// common elements, for example buttons, inputs etc.

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid\9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

// images:

.avatar-round-micro {
  border-radius: 50%;
  @include dimensions(51px, 51px);
  @include background-props(url('http://bit.ly/2dkTO2U'), no-repeat, auto 55px, center);
}

.avatar-round-micro-1 {
  border-radius: 50%;
  @include dimensions(51px, 51px);
  @include background-props(url('http://orig02.deviantart.net/35c6/f/2015/238/5/f/avatar_trex_by_bgiffo-d9784ij.jpg'), no-repeat, auto 55px, center);
}

.mainEvent {
  margin: 0 auto;
  width: 600px;
  height: 400px;
  border: dashed green;

}


.avatar-round-micro-friend {
  border-radius: 50%;
  @include dimensions(51px, 51px);
  @include background-props(url('http://orig02.deviantart.net/35c6/f/2015/238/5/f/avatar_trex_by_bgiffo-d9784ij.jpg'), no-repeat, auto 55px, center);
}


.friendsList {
  position: relative;
  top: -300px;
  width:100px;
}
